services:
  - type: web
    name: m4a-to-mp3-converter
    # Change runtime to node
    env: node 
    # This single line downloads ffmpeg statically and installs node packages
    buildCommand: "wget -O ffmpeg.tar.xz https://johnvansickle.com/ffmpeg/builds/ffmpeg-git-amd64-static.tar.xz && tar xvf ffmpeg.tar.xz && mv ffmpeg-git-*-static/ffmpeg ./ffmpeg && npm install"
    startCommand: "node server.js"
    plan: starter 
    envVars:
      - key: NODE_VERSION
        value: "20"