services:
  - type: web
    name: m4a-to-mp3-converter
    env: node 
    # CRITICAL: This line downloads, extracts, renames the ffmpeg binary, and then runs npm install
    # This bypasses the Read-Only file system error.
    buildCommand: "wget -O ffmpeg.tar.xz https://johnvansickle.com/ffmpeg/builds/ffmpeg-git-amd64-static.tar.xz && tar xvf ffmpeg.tar.xz && mv ffmpeg-git-*-static/ffmpeg ./ffmpeg && npm install"
    startCommand: "node server.js"
    plan: starter 
    envVars:
      - key: NODE_VERSION
        value: "20"