services:
  - type: web
    name: m4a-to-mp3-converter
    # Change env from 'node' to 'docker'
    dockerfilePath: Dockerfile
    # Render will automatically run the CMD command from the Dockerfile
    # Remove buildCommand and startCommand
    plan: starter 
    envVars:
      - key: NODE_VERSION # This is now just documentation, not required by Dockerfile
        value: "20"