body {
  background: linear-gradient(120deg,#020617,#0f172a);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  margin: 0;
}

.card {
  width: 90%;
  max-width: 420px;
  background: rgba(255,255,255,0.08);
  padding: 30px;
  border-radius: 16px;
  color: white;
  text-align: center;
}

.subtitle { color: #aaa; }

#drop-area {
  border: 2px dashed #7c5cff;
  padding: 30px;
  border-radius: 12px;
  cursor: pointer;
  margin: 20px 0;
}

#drop-area.hover {
  background: rgba(124,92,255,0.2);
}

#fileInput { display: none; }

select, button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

button {
  background: linear-gradient(90deg,#7c5cff,#38bdf8);
  font-weight: bold;
  cursor: pointer;
}

.progress {
  height: 10px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 15px;
}

#progressBar {
  height: 100%;
  width: 0%;
  background: lime;
}

#fileList {
  font-size: 12px;
  color: #ccc;
}
