body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(120deg,#020617,#0f172a);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  transition: 0.3s;
}

.light {
  background: linear-gradient(120deg,#e5e7eb,#f9fafb);
}

.card {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(15px);
  padding: 30px;
  border-radius: 16px;
  width: 90%;
  max-width: 420px;
  color: white;
  text-align: center;
}

.light .card { color: black; background: rgba(0,0,0,0.08); }

.subtitle { color: #aaa; }

#drop-area {
  border: 2px dashed #7c5cff;
  padding: 30px;
  border-radius: 12px;
  margin: 20px 0;
  cursor: pointer;
}

#fileInput { display: none; }

select, button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

button {
  background: linear-gradient(90deg,#7c5cff,#38bdf8);
  font-weight: bold;
  cursor: pointer;
}

.progress {
  width: 100%;
  height: 10px;
  background: #333;
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden;
}

#progressBar {
  height: 100%;
  width: 0%;
  background: lime;
}

.toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 22px;
}

#fileList { font-size: 12px; color: #ccc; margin-bottom: 5px; }

#percent { font-size: 13px; }
