body {
    background: #111;
    color: #fff;
    text-align: center;
    font-family: Arial;
}

#drop-area {
    border: 3px dashed #fff;
    padding: 40px;
    margin: 20px auto;
    width: 50%;
    border-radius: 15px;
    cursor: pointer;
}
